body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828; /* Dark background for contrast */
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.message {
    font-size: 2rem;
    animation: fadeIn 2s infinite;
}

/* Animation */
@keyframes fadeIn {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
